
@{
    ViewBag.Title = "MenuView";
}

<h2>MenuView</h2>

<div class="container">
    <h1>Menu</h1>
    <nav>
        Aligné à gauche :
        <ul class="nav">
            <li class="nav-item"><a class="nav-link" href="#">Accueil</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Film</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Serie</a></li>
            
        </ul>
    </nav>
    <br>
    
</div>
